/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/

d-byline {
  border-top-color: var(--global-divider-color) !important;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a,
d-article d-byline a {
  color: var(--global-text-color) !important;
  &:hover {
    color: var(--global-hover-color) !important;
  }
}

d-article {
  border-top-color: var(--global-divider-color) !important;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  table {
    color: var(--global-text-color) !important;
  }
  h1,
  h2,
  hr,
  table,
  table th,
  table td {
    border-bottom-color: var(--global-divider-color) !important;
  }
  a {
    color: var(--global-theme-color) !important;
    &:hover {
      color: var(--global-theme-color) !important;
    }
  }
  b i {
    display: inline;
  }
  blockquote {
    border-left: 2px solid var(--global-theme-color) !important;
  }

  // Style taken from code blocks
  details {
    color: var(--global-text-color);
    background-color: var(--global-code-bg-color);
    margin-top: 0;
    padding: 8px 12px;
    position: relative;
    border-radius: 6px;
    display: block;
    margin-bottom: 20px;
    grid-column: text;
    overflow: auto;
    max-width: 100%;
    summary {
      color: var(--global-theme-color);
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  d-contents {
    align-self: start;
    grid-column: 1 / 4;
    grid-row: auto / span 4;
    justify-self: end;
    margin-top: 0em;
    padding-left: 2em;
    padding-right: 3em;
    border-right: 1px solid var(--global-divider-color);
    width: calc(max(70%, 300px));
    margin-right: 0px;
    margin-top: 0em;
    display: grid;
    grid-template-columns:
      minmax(8px, 1fr) [toc] auto
      minmax(8px, 1fr) [toc-line] 1px
      minmax(32px, 2fr);

    nav {
      grid-column: toc;
      a {
        border-bottom: none !important;
        &:hover {
          border-bottom: 1px solid var(--global-text-color) !important;
        }
      }
      h3 {
        margin-top: 0;
        margin-bottom: 1em;
      }
      div {
        display: block;
        outline: none;
        margin-bottom: 0.8em;
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
      }
      ul {
        padding-left: 1em;
        margin-top: 0;
        margin-bottom: 6px;
        list-style-type: none;
        li {
          margin-bottom: 0.25em;
        }
      }
    }
    .figcaption {
      line-height: 1.4em;
    }
    toc-line {
      border-right: 1px solid var(--global-divider-color);
      grid-column: toc-line;
    }
  }

  d-footnote {
    scroll-margin-top: 66px;
  }
}

d-appendix {
  border-top-color: var(--global-divider-color) !important;
  color: var(--global-distill-app-color) !important;
  h3,
  li,
  span {
    color: var(--global-distill-app-color) !important;
  }
  a,
  a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

@media (max-width: 1024px) {
  d-article {
    d-contents {
      display: none;
      // grid-column-start: 2;
      // grid-column-end: -2;
      // padding-bottom: 0.5em;
      // margin-bottom: 1em;
      // padding-top: 0.5em;
      // width: 100%;
      // border: 1px solid var(--global-divider-color);
      // nav {
      //   grid-column: none;
      // }
    }
  }
}

@media (max-width: 1200px) {
  .subtitle-links {
    display: none;
  }
}

.takeaway {
  background-color: #d2e7fd;
  padding-left: 10px;
}

.img-small {
  max-width:500px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}


// Custom CSS from jaaustin@

d-footnote {
  display: inline-block;
}

d-article li {
  margin-bottom: 5px !important;

  p {
    margin-bottom: 10px !important;
  }
}

d-article > :nth-child(2) {
  margin-top: 0px !important;
}

d-article d-contents nav div {
  margin-bottom: 0.3em;
}

.algorithm {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-style: dashed;
  border-width: 1px;
  background-color: var(--global-algorithm-color);
}

.algorithm li {
  margin-bottom: 0px;
}

.takeaway {
  background-color: var(--global-takeaway-color);
  padding: 10px;
  border-radius: 5px;
}

.next-section {
  padding: 15px;
  border-radius: 5px;
  text-align: justify;
  border-style: dashed;
  border-width: 1px;
}

d-title a {
  color: var(--global-theme-color) !important;
}

h3 {
  margin-top: 1em !important;
}

.caption {
  color: var(--global-text-color);
  margin-bottom: 0px;

  text-align: justify;
}

d-footnote {
  color: black !important;
}

.byline h3 {
  margin-bottom: 2px !important;
}

.subtitle {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
}

.subtitle-links {
  float: right;
}

body {
  padding-top: 57px;
}

mjx-container {
  display: inline-grid;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  min-width: unset !important;
}

@media (max-width: 576px) {
  .nav-hidden  {
    display: none;
  }

  d-article table {
    display: block;
    overflow-x: auto;
  }
}

.left-button {
  right: 110px;
  top: 11px;
}

.right-button {
  right: 70px;
  top: 11px;
}

.section-button a {
  fill: var(--global-text-color);
}

.section-button {
  position: absolute;
  width: 20px;
  height: 20px;
}

@media (min-width: 576px) {
  .section-button {
    display: none;
  }
}

.author-footnote {
  color: var(--global-distill-app-color) !important;
}